.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}
li a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}
li a:hover{
    color: blue;
    text-decoration: underline;
}
.navbar li:hover{
}
.middelpart{
    height: 450px;
    text-align: center;
}
#logo {
    padding-top: 200px;
    
}